<p-inputgroup class="my-3">
	<input pInputText placeholder="поиск тура" #searchInput />
	<p-inputgroup-addon>
		<p-button icon="pi pi-search" severity="secondary" variant="text"></p-button>
	</p-inputgroup-addon>
</p-inputgroup>

<div class="tours-container">
	@if (toursArr().length > 0) {
	<p-galleria
		(activeIndexChange)="activeIndexChange($event)"
		class="tour-item-galleria"
		[value]="toursArr()"
		[showIndicators]="true"
		[showThumbnails]="false"
		[containerStyle]="{ 'max-width': '340px' }"
	>
		<ng-template #item let-item>
			<img [ngSrc]="'/img/' + item.img" priority fill />
		</ng-template>
	</p-galleria>
	} @else {
	<div class="no-tours-message">Туров не найдено</div>
	}
</div>
